extends ../layout

block content
    -var placar_travado = false;
    .container
        .row
            .col-md-8.floatLeft
                h1.text-blue= listaCompetiton.titulo + " "
                    if(user._id == listaCompetiton.id_autor)
                        button.btn.btn-warning(data-toggle="modal" data-target='#edtCompeticao') Editar
                        button.btn.btn-danger(data-toggle="modal", data-target='#deleteCompeticao', style="margin-left: 10px;") Deletar
            //- Modal
            if(user._id == listaCompetiton.id_autor)
                .col-md-4.floatRight
                    .pull-right
                        a.btn.btn-secondary(href="/cad_problema/"+listaCompetiton._id target="_blank") + Problema
    .container
        .row
            nav.navSubmenu
                #myTab.nav.nav-tabs.col-md-9.floatLeft(role='tablist')
                    a#nav-home-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-problema', role='tab', data-target='#nav-problema', aria-target='nav-problema', aria-selected='true') Problemas
                    a#nav-profile-tab.nav-item.nav-link(data-toggle='tab', href='#nav-placar', role='tab', data-target='#nav-placar', aria-target='nav-placar', aria-selected='false') Placar
                    a#nav-contact-tab.nav-item.nav-link(data-toggle='tab', href='#nav-submissoes', role='tab', data-target='#nav-submissoes', aria-target='nav-submissoes', aria-selected='false') Submissões
                    a#nav-contact-tab.nav-item.nav-link(data-toggle='tab', href='#nav-esclarecimento', role='tab', data-target='#nav-esclarecimento', aria-target='nav-esclarecimento', aria-selected='false') Esclarecimento
                .timeRestante.col-md-3.floatLeft#testeCerto
                    - if(moment().format() < moment(listaCompetiton.data_fim).format()){
                        input.form-control.col-md-12.trava_placar(type='hidden', name='trava_placar', value=listaCompetiton.trava_placar)
                        input.form-control.col-md-12.data_fim(type='hidden', name='data_fim', value=listaCompetiton.data_fim)
                        input.form-control.col-md-12.data_inicio(type='hidden', name='data_inicio', value=listaCompetiton.data_inicio)
                        //- - if(moment().format() >= moment(listaCompetiton.data_inicio).format()){
                        #data_reduzindo 
                            p #{moment().format('LTS')}
                        div.minutosRes
                            p#minutosRes
                        //- - } else {
                        //-     p(style='color: cornflowerblue;') Aguarde o inicio da competição
                        //- - }
                        script.
                            var data_fim = $('.data_fim').val();
                            var data_inicio = $('.data_inicio').val();
                            var trava_placar = $('.trava_placar').val();
                            $(document).ready(function(){ 
                                loop();                        
                            });                        
                            var loop = function(){
                                var data_atual = moment().format();
                                var data_defi = moment(data_fim).diff(data_atual, 'minutes');
                                var data_ini = moment(data_inicio).diff(data_atual, 'minutes');

                                $('#data_reduzindo').html(data_defi);
                                $('#minutosRes').html("minutos restantes de competição");
                                if(data_defi <= trava_placar){
                                    document.getElementById("data_reduzindo").style.color = "red";
                                } else {
                                    if(data_ini > 0){
                                        $('#data_reduzindo').html(data_ini);
                                        $('#minutosRes').html("minutos para inicio");
                                    }
                                }
                                setTimeout('loop()', 997); 	
                            }
                    -} else {
                        p(style='color: red;') Competição encerrada
                    - }
                    
    #nav-tabContent.tab-content
        #nav-problema.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-problema-tab')
            .container
                .row
                    .col-md-9.floatLeft
                        each lista, i in listProblems
                            - var saida = false;
                            - var success = false;
                            - var fail = false;
                            - var time = false;
                            each submissoes, j in submitProblem
                                - var tam = submitProblem[j].count;
                                - var subProblemId = listProblems[i]._id;
                                -var hora_fim = moment(listaCompetiton.data_fim).format(); //v
                                -var data_fim = moment(hora_fim).format(); //v
                                -for(var k = 0; k < tam; k++){
                                    - if(submissoes.id_competidor[k] == user._id){
                                        -var data_envio = moment(submissoes.hora_data[k]).format(); // v 
                                        -var diff2 = moment(data_fim).diff(data_envio, 'minutes'); //v
                                        - if(diff2 >= listaCompetiton.trava_placar){
                                            - if(subProblemId == submissoes.id_problem[k] && submissoes.resposta[k] == '1'){
                                                - success = true;
                                                - saida = true;
                                                - break;
                                            - }
                                            - if(subProblemId == submissoes.id_problem[k] && submissoes.resposta[k] == '-1'){
                                                - fail = true;
                                                - saida = true;
                                            - }  
                                            - if(subProblemId == submissoes.id_problem[k] && submissoes.resposta[k] == '-2'){
                                                - time = true;
                                                - saida = true;
                                            - }      
                                        - }                                  
                                    - }
                                -}
                            -if(success == true){
                                .col-md-3.floatLeft
                                    a(href=listaCompetiton._id+'/submit/'+lista._id target="_blank").card.sucesso
                                        div.topo
                                            i.large.material-icons.insert_emoticon insert_emoticon
                                        p #{lista.letra} - #{lista.nome} 
                            -} else if(time == true){
                                .col-md-3.floatLeft
                                    a.card.falha(href=listaCompetiton._id+'/submit/'+lista._id target="_blank")
                                        div.topo
                                            i.large.material-icons.sentiment_dissatisfied sentiment_dissatisfied
                                        p #{lista.letra} - #{lista.nome}
                            -} else if(fail == true){
                                .col-md-3.floatLeft
                                    a.card.falha(href=listaCompetiton._id+'/submit/'+lista._id target="_blank")
                                        div.topo
                                            i.large.material-icons.sentiment_very_dissatisfied sentiment_very_dissatisfied
                                        p #{lista.letra} - #{lista.nome}
                            -}
                            -if(saida == false){
                                .col-md-3.floatLeft.normal
                                    a.card(href=listaCompetiton._id+'/submit/'+lista._id target="_blank")
                                        div.topo
                                            i.large.material-icons.sentiment_satisfied sentiment_satisfied
                                        p #{lista.letra} - #{lista.nome} 
                            -}                            

                    .col-md-3.floatLeft
                        - if(moment().format() < moment(listaCompetiton.data_fim).format() && moment().format() >= moment(listaCompetiton.data_inicio).format()){
                            form.form-group.sendProblem(action='/submit/code', method='post', enctype="multipart/form-data")
                                input(value=listaCompetiton._id, name="id_room", type="hidden")
                                input(value=user._id, name="id_competidor", type="hidden")
                                input(value=user.nome, name="nome_competidor", type="hidden")
                                select#language.form-control(name="language", required)
                                    option Selecione a linguagem
                                    option(value="C++") C++
                                select#problem.form-control(name="id_problem", required)
                                    option Selecione o problema
                                    each lista, i in listProblems
                                        option(value=lista._id) #{lista.letra}
                                input.form-control(type="file", name="problem", required)
                                button.btn.btn-success(type='submit') Enviar    
                        - } else {
                            p Envio de códigos bloqueado
                        - }
        //- FIM TAB 1
        //- -----------------------------------------------------------------
        //- INICIO TAB 2
        #nav-placar.tab-pane.fade(role='tabpanel', aria-labelledby='nav-placar-tab')
            .container
                .row
                    //- TABLE
                    table.table#mytable.myTableTable
                        thead.thead-light
                            tr
                                th(scope='col' data-sorter="false" class="first-name") Rank
                                th(scope='col') Nome
                                each lista, i in listProblems
                                    th(scope='col')
                                        p.tpBallon(style="background-color: "+lista.cor) #{lista.letra}
                                th(scope='col') Total
                                th(scope='col') Time
                        tbody
                            -var hora_inicio = moment(listaCompetiton.data_inicio).format();
                            -var data_inicio = moment(hora_inicio).format();
                            -var hora_fim = moment(listaCompetiton.data_fim).format();
                            -var data_fim = moment(hora_fim).format();
                            each competidor, i in rank
                                tr 
                                    th(scope='row', class="contLinha")
                                    td #{competidor.nome_competidor[0]} 
                                    //- nome
                                    -var tempoAcumulado = 0
                                    -var acertos = 0
                                    -var submissionsCount = competidor.count;
                                    each problem, j in listProblems                
                                        - var problemId = problem._id
                                        - var acertou = false
                                        - var penalizacao = 0
                                        - var erro = 0
                                        - var acerto = 0
                                        -for(var k = 0; k < submissionsCount; k++){
                                            -var subProblemId = competidor.id_problem[k];
                                            //- TRANSFORMA HORA DE ENVIO EM MINUTOS
                                            -var data_envio = moment(competidor.hora_data[k]).format();
                                            -var diff2 = moment(data_fim).diff(data_envio, 'minutes');
                                            -if(subProblemId == problemId && diff2 >= listaCompetiton.trava_placar){
                                                -if(competidor.resposta[k] == '-1' || competidor.resposta[k] == '0' || competidor.resposta[k] == '9'){
                                                    - erro++;
                                                    - penalizacao = penalizacao + 20;
                                                - }
                                            - }
                                            -if(subProblemId == problemId && competidor.resposta[k] == '1' && diff2 >= listaCompetiton.trava_placar){
                                                -var diff = moment(data_envio).diff(data_inicio, 'minutes');
                                                -acerto++;
                                                -acertos++;
                                                -acertou = true;
                                                -tempoAcumulado = tempoAcumulado + diff + penalizacao;
                                                td.acerto #{erro+acerto}
                                                    p #{tempoAcumulado}
                                                -break;
                                            -}
                                        -}
                                        -if(acertou == false){
                                            if(erro >= 1)
                                                td.erro #{erro}
                                                    p --
                                            else 
                                                td
                                        -}
                                    if(acertos >= 0)
                                        th.ulti #{acertos}
                                    else
                                        th.ulti
                                    th.ulti #{tempoAcumulado}
        //- FIM TAB 2
        //- -----------------------------------------------------------------
        //- INICIO TAB 3
        #nav-submissoes.tab-pane.fade(role='tabpanel', aria-labelledby='nav-submissoes-tab')
            .container
                .row
                    //- TABLE
                    table.table
                        thead.thead-light
                            tr
                            th(scope='col') ID
                            th(scope='col') Problema
                            th(scope='col') Resposta
                            th(scope='col') Tempo
                        tbody
                            -var hora_inicio = moment(listaCompetiton.data_inicio).format();
                            -var data_inicio = moment(hora_inicio).format();
                            -var hora_fim = moment(listaCompetiton.data_fim).format(); //v
                            -var data_fim = moment(hora_fim).format(); //v     
                            each listaS, i in listaSubmit
                                - var id_problem2 = string(listaS.id_problem).splitLeft(',');
                                - var id_problem = id_problem2[0];
                                - var data_envio = moment(listaS.hora_data).format(); // v 
                                - var diff2 = moment(data_fim).diff(data_envio, 'minutes'); //v
                                tr
                                    th(scope='row') #{listaS.cont_sub}
                                    each lista, i in listProblems
                                        if(lista._id == id_problem)
                                            td 
                                                a.tpBallonA(href="/resolutions/"+listaS.filename target="_blank" style="text-align: center; margin-left: 20px; background-color: "+lista.cor download) #{lista.letra}
                                    if(listaS.resposta == -1 && diff2 >= listaCompetiton.trava_placar)
                                        td(style="color: tomato") Recusada
                                    if(listaS.resposta == -2 && diff2 >= listaCompetiton.trava_placar)
                                        td(style="color: yellow") Timeout
                                    else if(listaS.resposta == 1 && diff2 >= listaCompetiton.trava_placar)
                                        td(style="color: green") Aceito
                                    else if(listaS.resposta != 0 && listaCompetiton.trava_placar >= diff2)
                                        td(style="color: yellow") Bloqueado
                                    else if(listaS.resposta == 0)
                                        td
                                            .loadButon.active
                                                p Verficando Arquivos
                                            form.form-group.loadButon2.desativo(action='/verificarResp/', method='post')
                                                input(type="hidden", name="id_submit", value=listaS._id)
                                                button.btn.btn-primary(type='submit') Verificar
                                    -var time = moment(listaS.hora_data).diff(data_inicio, 'minutes')
                                    if(listaS.resposta != 0 && listaCompetiton.trava_placar >= diff2)
                                        td --
                                    else 
                                        td #{time}
        //- FIM TAB 3
        //- -----------------------------------------------------------------
        //- INICIO TAB 4
        #nav-esclarecimento.tab-pane.fade(role='tabpanel', aria-labelledby='nav-esclarecimento-tab')
            .container
                .row
                    .col-md-3
                        form(action='/esclarecimento', method='post')
                            .form-group
                                input(type="hidden", name="id_competition", value=listaCompetiton._id)
                                label(for='problema') Selecione o problema
                                select#problema.form-control(name="letra")
                                    option Selecione o problema
                                    each lista, i in listProblems
                                        option(value=lista.letra) #{lista.letra}
                            .form-group
                                label(for='duvida') Dúvidas
                                textarea#duvida.form-control(rows='8', name="pergunta")
                            button.btn.btn-primary(type='submit') Enviar
                    .col-md-8
                        each listaDuvidas, i in esclarecimento
                            div.card.esclarecimento
                                span Pergunta: 
                                span.letraProblema Problema #{listaDuvidas.letra}
                                p #{listaDuvidas.pergunta}
                                hr
                                span Resposta: 
                                if(user._id == listaCompetiton.id_autor)
                                    form(action='/respesclarecimento/'+listaDuvidas._id, method='post')
                                        .form-group
                                            textarea#duvida.form-control(rows='5', name="resposta") #{listaDuvidas.resposta}
                                        button.btn.btn-primary.float-right(type='submit') Enviar
                                else 
                                    p #{listaDuvidas.resposta}
                    

        //- FIM TAB 4
        //- -----------------------------------------------------------------
    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', id='edtCompeticao')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Editando competição
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                form.form-group(action='/edt_competicao/', method='post')
                    .modal-body
                        input(type="hidden", name="id_competition", value=listaCompetiton._id)
                        input.form-control(type='text', name='titulo', value=listaCompetiton.titulo, style="margin-bottom: 10px;")                       
                        if(moment().format() >= moment(listaCompetiton.data_inicio).format())
                            input(type="hidden", id="datetime", name='data_inicio' value=listaCompetiton.data_inicio, required, style="margin-bottom: 10px;")
                            input.form-control(type="datetime-local", value=listaCompetiton.data_inicio, disabled, style="margin-bottom: 10px;")
                        else 
                            input.form-control(id="datetime", type="datetime-local", name='data_inicio' value=listaCompetiton.data_inicio, required, style="margin-bottom: 10px;")
                        input.form-control(id="datetime2", type="datetime-local", name='data_fim' value=listaCompetiton.data_fim, required, style="margin-bottom: 10px;")
                        input.form-control(id="number", type="number", name='trava_placar' placeholder="Travar Placar", value=listaCompetiton.trava_placar, required, style="margin-bottom: 10px;")
                        textarea.form-control(type='text', name='descricao', cols="30", rows="10", required, style="margin-bottom: 10px;") #{listaCompetiton.descricao}
                        input.form-control(type='text', name='senha', value=listaCompetiton.senha)
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                        button.btn.btn-primary(type='submit') Editar

    .modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true', id='deleteCompeticao')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Deletar competição
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    p Deseja deletar essa competição? Será deletado todos as submissões e problemas cadastrados
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancelar
                    a.btn.btn-danger(href="/delete_competicao/"+listaCompetiton._id) Excluir
    block addItem
    script.
        $(document).ready(function(){
            var tab_on = location.hash; // aqui é onde vamos agarrar o valor da hash do url (ex: #listaReservas)
            
            $('#myTab a[data-target="' +tab_on+ '"]').tab('show');
            $('#myTab a').on('click', function() {
                var this_target = $(this).data('target');
                var window_href = window.location.href.split('#')[0];
                history.pushState('', '', window_href+this_target); // mudar o url dinamicamente
            });

            $(function(){
                var columnCount = $('.myTableTable tr:first').children('th').length;
                var rows = $('.myTableTable tr').length;
                $(".myTableTable").tablesorter({
                    sortList: [[columnCount-2,1],[columnCount-1,0]]
                });

            });
        });
        setTimeout(function(){ 
            $('.loadButon').removeClass('active');
            $('.loadButon').addClass('desativo');

            $('.loadButon2').removeClass('desativo');
            $('.loadButon2').addClass('active');
        }, 3000);
